@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: #333;
    background: #ebf9ff;
}

p {
    max-width: 600px;
}

.wrapper {
    max-width: 1200px;
    padding: 24px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
}

.logo img{
    width: 36px;
    height: 36px;
}

nav {
    margin: auto;
}

nav a {
    text-decoration: none;
    color: #bdbdbd;
    margin-left: 24px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

nav a.active {
    color: #333;
}

main {
    display: flex;
    align-items: center;
}

main .content {
    flex: 1;
    margin-right: 1.5rem;
}

.content h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 100px;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    color: #00b2ff;
}

.content p {
    color: #4a5764;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
}

.content p  span {
    color: #00b2ff;
    border-bottom: 1px dotted;
    cursor: pointer;
}

.content a {
    display: inline-block;
    background: #00b2ff;
    color: #fff;
    text-decoration: none;
    padding:  0.8rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

main .preview {
    flex: 2;
    border-radius: 5px;
}

.preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

footer {
    display: flex;
    color: #bdbdbd;
    font-weight: 600;
}

.socials {
    margin-right: 40px;
}

.socials a {
    margin-right: 12px;
}

.socials a:hover {
    color: #333;
}

.menuBtn , .menu{
    display: none;
}

@media only screen and (max-width: 1024px) {
    .content h1 {
        font-size: 48px;
    }
    
    header {
        justify-content: space-between;
    }

    header nav {
        margin: 0;
    }

    footer {
        padding-bottom: 25px;
    }
}

@media only screen and (max-width: 600px) {
    main {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
      margin-top: 50px;
    }

    main .content h1 {
        font-size: 30px;
        line-height: normal;
    }
    
    header {
        justify-content: space-between;
    }
    
    header .menuBtn {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    header nav {
        display: none;
    }

    .menu {
        display: flex;
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 5rem 3.5rem 0;
        background: rgba(255,255,255,.3);
        backdrop-filter: blur(10px);
        transition: .5s ease-in-out; 
    }

    .menu.open {
        right: 0%;
    }

    .menu .close {
        position: absolute;
        top: .75rem;
        right: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .menu .mobile {
        display: flex;
        flex-direction: column;
    }

    .menu a {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        color: #828282;
    }

    .menu a.active {
        color: #333;
    }

    .content a {
        padding: 0.8rem;
    }

    .content {
        padding-bottom: 2rem;
    }

    .preview {
        padding: 0;
    }

    .content p, .content a {
        font-size: 1rem;
    }
}

/* Work on video  styling*/
.preview {
    max-width: 1000px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(transparent,rgba(0,0,0,.75));
}

.preview video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.preview .play-pause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #00b2ff;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    opacity: .9;
    padding: 15px;
    z-index: 2;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.play-pause img {
    filter: invert(100%) sepia(0%) saturate(7451%) hue-rotate(319deg) brightness(117%) contrast(100%);
    padding-left: 2px;
    width: 18px;
    height: 18px;
}

.preview .panel {
    display: flex;
    color: #fff;
    position: absolute;
    bottom: -50px;
    opacity: 0;
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    gap: .5rem;
    padding: .25rem;
    transition: all .4s ease-in-out;
    z-index: 999;
    background: linear-gradient(transparent,rgba(0,0,0,.75));
}

.speed {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    width: 50px;
}

.panel button {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    opacity: .85;
    transform: opacity 150ms ease-in-out;
}

.panel button:hover {
    opacity: 1;
}

.panel button img {
    filter: invert(100%) sepia(0%) saturate(7451%) hue-rotate(319deg) brightness(117%) contrast(100%);
    padding-top: 4px;
}

.volume_controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume_controls input[type="range"] {
    width: 90%;
    height: 6px;
    outline: none;
    /* appearance: none; */
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.6);
    background-image: linear-gradient(#00b2ff, #00b2ff);
    border-radius: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 2px 0 #555;
    transition: all .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 2px 0 #fff;
    transform: scale(1.05);
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.preview.paused img.pause {
    display: none;
}

.preview:not(.paused) img.play,
.preview:not(.paused) .play-pause {
    display: none;
}

.preview:hover .panel,
.preview:focus-within .panel,
.preview.paused .panel {
    bottom: 0px;
    opacity: 1;
}

/* .preview.fullscreen{
    min-width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
} */

.preview.fullscreen video {
    border-radius: 0;
}

.preview.fullscreen img.enter-fullscreen {
    display: none;
}

.preview:not(.fullscreen) img.exit-fullscreen {
    display: none;
}

.preview.mute img.volume {
    display: none;
}

.preview:not(.mute) img.muted {
    display: none;
}

.preview.captions img.captions-off {
    display: none;
}

.preview:not(.captions) img.captions-on {
    display: none;
}

/* Time progress */
 
.panel .progress {
    height: 7px;
    border-radius: 5px;
    width: 75%;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* background: #fff; */
}

.timeline {
    background: rgba(255, 255, 255, 0.6);
    height: 5px;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position)*100%);
    background: #fff;
    display: none;
    border-radius: 5px;
}

.timeline::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position)*100%);
    background: #00b2ff ;
    border-radius: 5px;
}

.timeline .thumb {
    --scale: 1.3;
    position: absolute;
    height: 200%;
    top: -50%;
    transform: translateX(-50%) scale(var(--scale));
    left: calc(var(--progress-position)*100%);
    background: #fff;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
    aspect-ratio: 1 / 1;
    z-index: 999;
}

.thumb:hover {
    --scale: 1.5;
    box-shadow: 0 0 3px 0 #fff;
}

.timeline .previewImg {
    position: relative;
}

.timeline .previewImg .time {
    position: absolute;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position)*100%);
    display: none;
}

.timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position)*100%);
    border-radius: .25rem;
    border: 2px solid #fff;
    display: none;
}

.progress.scrubbing .timeline::before,
.progress:hover .timeline::before {
    display: block;
}

.progress.scrubbing .preview-img,
.progress:hover .preview-img {
    display: block;
}

.progress.scrubbing .previewImg .time,
.progress:hover .previewImg .time {
    display: block;
}

video::cue {
    /* position: absolute; */
    /* bottom: 1rem; */
    transform: translateY(30%) !important;
    /* top: -1rem !important; */
    /* margin-bottom: 40px; */
    color: #fff;
    background-color: 000;
    font-size: 20px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 5px !important;
}